/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'medium';
	src: url('medium.eot');
	src: local('☺'), url('medium.woff') format('woff'), url('medium.ttf') format('truetype'), url('medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
