/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'light';
	src: url('light.eot');
	src: local('☺'), url('light.woff') format('woff'), url('light.ttf') format('truetype'), url('light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
