/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'regular';
	src: url('regular.eot');
	src: local('☺'), url('regular.woff') format('woff'), url('regular.ttf') format('truetype'), url('regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
