/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'bold';
	src: url('bold.eot');
	src: local('☺'), url('bold.woff') format('woff'), url('bold.ttf') format('truetype'), url('bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
