/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'black';
	src: url('black.eot');
	src: local('☺'), url('black.woff') format('woff'), url('black.ttf') format('truetype'), url('black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
