/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'italic';
	src: url('italic.eot');
	src: local('☺'), url('italic.woff') format('woff'), url('italic.ttf') format('truetype'), url('italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
