/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'reforma';
	src: url('reforma.eot');
	src: local('☺'), url('reforma.woff') format('woff'), url('reforma.ttf') format('truetype'), url('reforma.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
