/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

* {
  transition: all 0.25s ease-out;
  outline: 0;
}

/* Header */

#header.expanded .one.expanded {
  background-color: rgb(6, 17, 34);
  height: 40px;
}
#header.expanded .one.expanded ul {
  height: 40px;
  margin: 0px;
  padding: 0px;
}
#header.expanded .one.expanded li {
  height: 40px;
  margin: 0px;
  padding: 0px;
}
#header.expanded .one.expanded a {
  height: 40px;
  line-height: 40px;
  font-family: 'fontawesome';
  text-align: center;
  color: rgb(32, 190, 205);
  padding: 0px 0px 0px 10px;
  display: inline-block;
}
#header.expanded .one.expanded a:hover {
  color: rgb(227, 59, 140);
}
#header.expanded .two.expanded {
  background-color: rgb(0, 0, 0);
  height: 140px;
}
#header.expanded .two.expanded .mavericks-logo {
  height: 140px;
  line-height: 140px;
  display: inline-block;
}
#header.expanded .two.expanded .mavericks-logo img {
  height: auto;
  width: 100%;
  max-width: 350px;
}
#header.expanded .two.expanded ul.parent {
  height: 140px;
  margin: 0px;
  padding: 0px;
}
#header.expanded .two.expanded ul.parent> li {
  height: 140px;
  margin: 0px;
  padding: 0px;
}
#header.expanded .two.expanded ul.parent> li> a {
  display: inline-block;
  ;
  height: 140px;
  padding: 0px 20px;
  line-height: 140px;
  font-family: 'medium';
}
#header.expanded .two.expanded ul.parent> li> a:after {
  display: none !important;
}
#header.expanded .two.expanded ul.parent> li:hover> a, #header.expanded .two.expanded ul.parent> li:focus> a, #header.expanded .two.expanded ul.parent> li.is-active> a {
  background-color: rgb(6, 17, 34);
}
#header.expanded .two.expanded ul.parent> li.is-active> ul {
  background-color: rgb(6, 17, 34);
  border: 0px;
}
#header.expanded .two.expanded ul.parent> li.is-active> ul> li> a {
  font-family: 'regular';
}
#header.expanded .two.expanded ul.parent> li.is-active> ul> li> a:focus, #header.expanded .two.expanded ul.parent> li.is-active> ul> li> a:hover {
  background-color: rgb(241, 83, 170);
}
#header.expanded .two.expanded a {
  color: rgb(255, 255, 255);
}

/* Slider */

#slider.expanded {
  padding: 0px 0px 20px 0px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 520px;
}
#slider.expanded .mslider {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 500px;
}
#slider.expanded .mslider .item {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 500px;
}
#slider.expanded .mslider .item .row {
  height: 100%;
}
#slider.expanded .mslider .item .row h1 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
}
#slider.expanded .mslider .item .row p {
  color: rgb(255, 255, 255);
  font-family: 'bold';
  font-size: 30px;
  line-height: 34px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  text-transform: uppercase;
}
#slider.expanded .mslider .item .row .button {
  border-color: rgb(43, 190, 211);
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-width: 2px;
  margin: 0;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'bold';
  font-size: 14px;
  line-height: 18px;
}
#slider.expanded .mslider .item .row .button:hover {
  border-color: rgb(43, 190, 211);
  background-color: rgb(43, 190, 211);
  color: rgb(255, 255, 255);
}

/* Main */

#main.expanded {
  background-color: rgb(0, 0, 0);
  padding:0px 0px 40px 0px;
}
.page-template-gallery #main.expanded, .page-template-gallery-single #main.expanded {
  padding: 40px 0px 20px 0px;
}
.page-template-gallery #main.expanded h1, .page-template-gallery-single #main.expanded h1 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  display: inline-block;
}
.page-template-gallery-single #main.expanded .items .item {
  padding: 0px 5px;
  margin: 0px 0px 10px 0px;
}
.page-template-gallery-single #main.expanded .items .item img {
  width: 100%;
  height: auto;
}
.page-template-gallery #main.expanded .items {}
.page-template-gallery #main.expanded .items .item {
  margin: 0px 0px 1.875rem 0px;
}
.page-template-gallery #main.expanded .items .item a {
  display: block;
  width: 100%;
  height: 230px;
  background: url(../images/empty.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.page-template-gallery #main.expanded .items .item a span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  padding: 15px;
  font-family: 'bold';
  text-transform: uppercase;
}


#gallery-booth.expanded {
  background-color: rgb(6, 17, 35);
  padding: 40px 0px;
}
#gallery-booth.expanded p {
  color: rgb(255, 255, 255);
}
#gallery-booth.expanded .book-a-booth {
  width: 100%;
  height: 230px;
}
#gallery-booth.expanded .book-a-booth .row {
  height: 100%;
}
#gallery-booth.expanded .book-a-booth .row .title {
  width:100%;
  float:left;

  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-family: 'reforma';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
#gallery-booth.expanded .book-a-booth .row .content {
  width:100%;
  float:left;
  color: rgb(255, 255, 255);
  padding:0px 20px 10px 20px;
}
#gallery-booth.expanded .book-a-booth .row .button {
  background-color: rgb(220,89,206)
  margin:0px;
}
#gallery-booth.expanded .book-a-booth .row .button:hover {
  background-color: rgb(44,200,225)
}

/* Mavericks TV */

#main.expanded .mavericks-tv {
  padding: 0px 0px 40px 0px;
}
#main.expanded .mavericks-tv .row {
  background-color: rgb(6, 17, 35);
  margin: 0px auto;
  padding: 20px 0px .9375rem 0px;
  color: rgb(255, 255, 255);
}
#main.expanded .mavericks-tv .row .tabs-panel {
  padding: 0px;
  margin: 0px;
}
#main.expanded .mavericks-tv .row .tabs-content {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#main.expanded .mavericks-tv .row .title {
  padding: 0px 0px 20px 0px;
}
#main.expanded .mavericks-tv .row .title .mavericks-logo {
  width: 300px;
  display: inline-block;
}
#main.expanded .mavericks-tv .row .title .mavericks-logo img {
  width: 300px;
  height: auto;
}
#main.expanded .mavericks-tv .row .video {
  margin: 0px;
  padding: 0px;
}
#main.expanded .mavericks-tv .row .videos {
  margin: 0px;
  padding: 0px;
}
#main.expanded .mavericks-tv .row .videos ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  border: 0px;
  background-color: rgb(6, 17, 35);
}
#main.expanded .mavericks-tv .row .videos li {
  margin: 0px;
  padding: 0px;
  width: 25%;
}
#main.expanded .mavericks-tv .row .videos a {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: block;
  border: 2px solid rgb(6, 17, 35);
}
#main.expanded .mavericks-tv .row .videos li.is-active a, #main.expanded .mavericks-tv .row .videos a:hover {
  border: 2px solid rgb(44, 200, 225);
}
#main.expanded .mavericks-tv .row .videos img {
  width: 100%;
}

/* Venues */

#main.expanded .venues {
  padding: 0px 0px 40px 0px;
}
#main.expanded .venues .one.row {
  background-color: rgb(6, 17, 35);
  margin: 0px auto;
  padding: 20px 0px .9375rem 0px;
  color: rgb(255, 255, 255);
}
#main.expanded .venues .one.row .title h3 {
  color: inherit;
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  border-bottom: 1px solid rgb(220, 89, 206);
  display: inline-block;
}
#main.expanded .venues .two.row, #main.expanded .venues .two.row .columns {
  margin: 0px;
  padding: 0px;
}
#main.expanded .venues .two.row .columns .row {
  height: 100%;
}
#main.expanded .venues .two.row .columns {
  border: 2px solid rgb(6, 17, 35);
}
#main.expanded .venues .two.row .columns:hover {
  border: 2px solid rgb(44, 200, 225);
}
#main.expanded .venues .two.row .columns.hudderfield {
  background: url(../images/home/huddersfield.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main.expanded .venues .two.row .columns.horsforth {
  background: url(../images/home/horsforth.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main.expanded .venues .two.row .columns.bingley {
  background: url(../images/home/bingley.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main.expanded .venues .two.row .columns.sowerby-bridge {
  background: url(../images/home/sowerby-bridge.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main.expanded .venues .two.row .columns a {
  display: block;
  width: 100%;
  height: 230px;
  text-align: center;
}
#main.expanded .venues .two.row .columns span.one {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  display: block;
}
#main.expanded .venues .two.row .columns span.two {
  background-color: rgb(220, 89, 206);
  margin: 0px 0px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

/* Venue */

.page-template-venue #slider.expanded .mslider .item .row p {
  color: rgb(255, 255, 255);
  font-family: 'regular';
  font-size: 20px;
  line-height: 26px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  text-transform: none;
}
.page-template-venue #main .venue {
  margin: 0px auto 20px auto;
}
.page-template-venue #main .venue .column {
  margin: 0px;
  padding: 0px;
}
.page-template-venue #main .venue .column a.banner {
  border: 2px solid rgb(6, 17, 35);
  float: left;
  width: 100%;
}
.page-template-venue #main .venue .column a.banner:hover {
  border: 2px solid rgb(44, 200, 225);
}
.page-template-venue #main .items {
  background-color: rgb(6, 17, 35);
  padding: .9375rem;
  margin: 0px auto 0px auto;
}
.page-template-venue #main .item {
  margin: 0px;
  padding: 0px;
}
.page-template-venue #main .item {
  border: 2px solid rgb(6, 17, 35);
}
.page-template-venue #main .item:hover {
  border: 2px solid rgb(44, 200, 225);
}
.page-template-venue #main .item> div {
  padding: 50px;
}
.page-template-venue #main .item> div h2 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0 5px;
  display: block;
}
.page-template-venue #main .item> div p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 30px 0;
  padding: 0;
}
.page-template-venue #main .item> div a.button {
  background-color: rgb(220, 89, 206);
  border-color: rgb(220, 89, 206);
}
.page-template-venue #main .item> div a.button:hover {}

/* Mavericks on Tour */
.page-template-mavericks-on-tour #main.expanded .content {
  padding:40px 0px;
}
.page-template-mavericks-on-tour #main.expanded .content h1 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 80px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px;
  display: inline-block;
}
.page-template-mavericks-on-tour #main.expanded .content p {
  color: rgb(255, 255, 255);
}
.page-template-mavericks-on-tour #main.expanded .box {
  background-color: rgb(30,36,43);
  margin:20px 0px 0px 0px;
  padding:40px;
}
.page-template-mavericks-on-tour #main.expanded .box h3 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px;
  display: inline-block;
}
.page-template-mavericks-on-tour #main.expanded .box p {
    color: rgb(255, 255, 255);
}

.archive #main.expanded h1,
.single-post #main.expanded h1,
.page-template-join-our-team #main.expanded h1{
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px 0px 0px 0px;
  padding: 0px 5px;
  display: inline-block;
}

.archive #main.expanded p,
.single-post #main.expanded p,
.page-template-join-our-team #main.expanded p{
    color: rgb(255, 255, 255);
}


.page-template-mavericks-on-tour #main.expanded .items {
  background-color: rgb(6, 17, 35);
  padding: .9375rem;
  margin: 0px auto 0px auto;
}
.page-template-mavericks-on-tour #main.expanded .item {
  margin: 0px;
  padding: 0px;
}
.page-template-mavericks-on-tour #main.expanded .item {
  border: 2px solid rgb(6, 17, 35);
}
.page-template-mavericks-on-tour #main.expanded .item:hover {
  border: 2px solid rgb(44, 200, 225);
}
.page-template-mavericks-on-tour #main.expanded .item> div {
  padding: 50px;
}
.page-template-mavericks-on-tour #main.expanded .item> div h2 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0 5px;
  display: block;
}
.page-template-mavericks-on-tour #main.expanded .item> div p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 30px 0;
  padding: 0;
}
.page-template-mavericks-on-tour #main.expanded .item> div a.button {
  background-color: rgb(220, 89, 206);
  border-color: rgb(220, 89, 206);
}
.page-template-mavericks-on-tour #main.expanded .item> div a.button:hover {}

/* Kitchen */
.page-template-kitchen #main.expanded h1 {
  color: rgb(255, 255, 255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  display: inline-block;
}
.page-template-kitchen #main.expanded h2 {
  color:rgb(2,190,206);
  margin:0px 0px 10px 0px;
  text-transform: uppercase;
}
.page-template-kitchen #main.expanded h3 {
  color:rgb(255,255,255);
  margin:0px 0px 10px 0px;
  text-transform: uppercase;
}
.page-template-kitchen #main.expanded p {
  color:rgb(255,255,255);
}
/* Sign Up */

#main.expanded .mavericks-on-tour {
  padding: 0px 0px 40px 0px;
}
#main.expanded .mavericks-on-tour .row {
  margin: 0px auto;
  padding: 40px;
  color: rgb(255, 255, 255);
}
#main.expanded .mavericks-on-tour h4 {
  color: inherit;
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 5px;
  display: inline-block;
}
#main.expanded .mavericks-on-tour p {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
#main.expanded .mavericks-on-tour a {
  margin: 0px;
  padding: 10px 20px;
  background-color: rgb(220, 89, 206);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: 0px;
}
#main.expanded .sign-up {
  padding: 0px 0px 0px 0px;
}
#main.expanded .sign-up .row {
  background-color: rgb(6, 17, 35);
  margin: 0px auto;
  padding: 0px 10px;
}
#main.expanded .sign-up> .row> .columns {
  padding: 20px 20px;
  height: 80px;
}
#main.expanded .sign-up h5 {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  font-family: 'reforma';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
#main.expanded .sign-up p {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
}
#main.expanded .sign-up strong {
  font-weight: normal;
}
#main.expanded .sign-up form {
  margin: 0px 0px;
  padding: 0px 0px;
}
#main.expanded .sign-up form .columns {
  margin: 0px 0px;
  padding: 0px 0px;
}
#main.expanded .sign-up form input[type=email], #main.expanded .sign-up form button {
  height: 40px;
  border: 0px;
  text-transform: uppercase;
}
#main.expanded .sign-up form input[type=email] {
  margin: 0px 5px 0px 0px;
  color: rgb(167, 167, 167);
  padding: 10px 20px;
}
#main.expanded .sign-up form input[type=email]:focus {
  box-shadow: none;
}
#main.expanded .sign-up form .button {
  background-color: rgb(26, 200, 227);
}
#join-the-team #main.expanded {}
.page-template-events #main.expanded h1,
#join-the-team #main.expanded h1 {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 40px 0px 20px 0px;
  padding: 0px;
  font-family: 'reforma';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
#join-the-team #main.expanded p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
#join-the-team #main.expanded p strong {
  font-family: 'bold';
}
.archive #main.expanded .posts .post,
.page-template-events #main.expanded .posts .post {
  margin-bottom:60px;
}
.archive #main.expanded .posts .post:last-child,
.page-template-events #main.expanded .posts .post:last-child {
  margin-bottom:120px;
}
.archive #main.expanded .posts .post .thumb,
.page-template-events #main.expanded .posts .post .thumb {
  border:2px solid rgb(6,17,35);
  float:left;
  width:100%;
  margin:0px 0px 20px 0px;
}
.page-template-events #main.expanded .posts .post .thumb:hover  {
  border-color: rgb(44,200,225);
}
.archive #main.expanded .posts .post a.date,
.page-template-events #main.expanded .posts .post a.date {
  float:left;
  width:100%;
  color:rgb(255,255,255);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 30px;
  line-height:20px;
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
}

.archive #main.expanded .posts .post a.date span,
.page-template-events #main.expanded .posts .post a.date span {
  color:inherit;
}
.archive #main.expanded .posts .post a.title,
.page-template-events #main.expanded .posts .post a.title {
  float:left;
  width:100%;
  color:rgb(44,200,225);
  font-family: 'reforma';
  text-transform: uppercase;
  font-size: 40px;
  line-height:30px;
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
}
.archive #main.expanded .posts .post a.title h3,
.page-template-events #main.expanded .posts .post a.title h3 {
  color:inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin:0px;
  padding:0px;
}
.archive #main.expanded .posts .post a.description,
.page-template-events #main.expanded .posts .post a.description {
  float:left;
  width:100%;
  color:rgb(255,255,255);
  margin:0px;
  padding:0px;
}

form {
  float: left;
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
}
form p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
form input[type=text] {}
form input[type=number] {}
form input[type=email] {}
form input[type=text] {}
form select {}
form .button {
  background-color: rgb(220, 89, 206);
  color: rgb(255, 255, 255);
}
.sidebar {
  background-color: rgb(6, 17, 35);
}
.sidebar h2 {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 40px 0px 20px 0px;
  padding: 0px;
  font-family: 'reforma';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.sidebar p {
  color: rgb(255, 255, 255);
  font-size: 16px !important;
  line-height: 22px !important;
  margin: 0px 0px 20px 0px !important;
  padding: 0px;
}
.sidebar span {
  color: rgb(48, 172, 223);
  margin: 0px 5px 0px 0px;
}
.sidebar a {
  color: rgb(255, 255, 255);
}
.sidebar a:hover {}
.sidebar .flex-video {
  margin-top: 0px;
  margin-bottom: 250px;
  width: 100%;
  float: left;
}

/* Social Footer */

#social-footer.expanded {
  background-color: rgb(22, 21, 21);
  padding: 0px;
}
#social-footer.expanded h4 {
  width: 100%;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  font-family: 'reforma';
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  float: left;
  border-bottom: 1px solid rgb(26, 200, 227);
}
#social-footer.expanded h4 a {
  font-size: 12px;
  line-height: 30px;
  float: right;
  font-family: 'regular';
  color: rgb(26, 200, 227);
}
#social-footer.expanded h4 a:hover {}
#social-footer.expanded .one {
  background-color: rgb(22, 21, 21);
  padding-top: 40px;
  padding-bottom: 40px;
}
#social-footer.expanded .two {
  background-color: rgb(32, 32, 32);
  padding-top: 40px;
  padding-bottom: 40px;
}
#social-footer.expanded .three {
  background-color: rgb(13, 12, 12);
  padding-top: 40px;
  padding-bottom: 40px;
}
#signup-footer.expanded {
  background-color: rgb(0, 0, 0);
  padding: 0px 0px;
}
#signup-footer.expanded .row {
  margin: 0px auto;
  padding: 0px 10px;
}
#signup-footer.expanded> .row> .columns {
  padding: 20px 20px;
  height: 80px;
}
#signup-footer.expanded h5 {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  font-family: 'reforma';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
#signup-footer.expanded p {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
}
#signup-footer.expanded strong {
  font-weight: normal;
}
#signup-footer.expanded form {
  margin: 0px 0px;
  padding: 0px 0px;
}
#signup-footer.expanded form .columns {
  margin: 0px 0px;
  padding: 0px 0px;
}
#signup-footer.expanded form input[type=email], #signup-footer.expanded form button {
  height: 40px;
  border: 0px;
  text-transform: uppercase;
}
#signup-footer.expanded form input[type=email] {
  margin: 0px 5px 0px 0px;
  color: rgb(167, 167, 167);
  padding: 10px 20px;
}
#signup-footer.expanded form input[type=email]:focus {
  box-shadow: none;
}
#signup-footer.expanded .button {
  background-color: rgb(26, 200, 227);
}

/* Footer - Home */

#footer.expanded {
  background-color: rgb(6, 17, 35);
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer.expanded .one {
  margin: 0px auto 40px auto;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid rgb(44, 200, 225);
}
#footer.expanded .one .mavericks-logo {
  margin: 0px 0px;
  padding: 0px 0px;
}
#footer.expanded .one .mavericks-logo img {}
#footer.expanded .two p {
  color: rgb(139, 139, 139);
  font-size: 14px;
  line-height: 20px padding: 0px;
  margin: 0px;
}
#footer.expanded .two strong {
  font-weight: normal;
}
#footer.expanded .two a {
  color: inherit;
}
#footer.expanded .two a:focus, #footer.expanded .two a:hover {
  color: rgb(241, 83, 170);
}

/* Footer - Default */

#footer.expanded .mavericks-logo {
  width: 250px;
  display: inline-block;
}
#footer.expanded .mavericks-logo img {
  width: 250px;
  height: auto;
}
::-webkit-input-placeholder {
  color: rgb(167, 167, 167);
}
:-moz-placeholder {
  color: rgb(167, 167, 167);
}
::-moz-placeholder {
  color: rgb(167, 167, 167);
}
:-ms-input-placeholder {
  color: rgb(167, 167, 167);
}
