/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'thin';
	src: url('thin.eot');
	src: local('☺'), url('thin.woff') format('woff'), url('thin.ttf') format('truetype'), url('thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
