/*
  Theme Name: Mavericks
  Theme URI: http://www.mavericks80slounge.co.uk
  Description: Mavericks 80's Lounge
  Version: 1.0
  Text Domain: mavericks
*/

/*
PARA EDITS TO THEME
*/

/*Background half tone image*/
.off-canvas-content {
	background-image: url('images/wood-bg.gif');
}



/* Change bg from blue to light grey*/
#header.expanded .two.expanded {
	background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
}
#slider.expanded {
	background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
}
#main.expanded {
	background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
}
.page-template-venue #main .items {
	background: none;
	/*background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
	*/
}

/* Change Nav items to dark blue*/
#header.expanded .two.expanded a {
  color: #110974;
}

/* Change nav hover background menus to grey*/
#header.expanded .two.expanded ul.parent> li:hover> a, #header.expanded .two.expanded ul.parent> li:focus> a, #header.expanded .two.expanded ul.parent> li.is-active> a {
    background-color: #e8e8e8;
}
#header.expanded .two.expanded ul.parent> li.is-active> ul {
	background-color: #e8e8e8;
}


/* Change Find us strip to darker grey*/
#gallery-booth.expanded {
	background-color: #e8e8e8;
}
/* find us header and p blue*/
#gallery-booth h4.find-us {
	font-family: 'reforma'; 
	text-transform: uppercase; 
	font-size: 40px; 
	margin: 0; 
	padding: 0; 
	display: block;
	color: #110974;
}
#gallery-booth.expanded p {
    color: #110974;
}

/* Footer change to dark blue*/
#additional-content-footer {
	background-color: #061123;
}

/* Change footer links white*/
#footer .menu>li>a {
	color: #fff;
}

/* Take away footer nav underline*/
#footer.expanded .one {
	border-bottom: none;
}

/*Sign up same as parent background*/
#signup-footer.expanded {
	background-color: #061123;
}

/* different pink for more butt*/
.page-template-venue #main .item> div a.button {
    background-color: #fe4ab7;
    border-color: #fe4ab7;
}

/*change borders from black to grey*/
.page-template-venue #main .venue .column a.banner {
    border: 2px solid #f2f2f2;
    background-image: url('images/wood-bg.gif');
}

.page-template-venue #main .item {
    border: 2px solid #f2f2f2;
    background-image: url('images/wood-bg.gif');
}

/*Headings should be blue on light background*/
.page-template-book-a-booth-php #main.expanded h1, .archive #main.expanded h1, .single-post #main.expanded h1, .page-template-join-our-team #main.expanded h1, .page-template-default h1 {
	color: #110974;
}

.sidebar h2 {
	color: #110974;
}

.page-template-gallery #main.expanded h1, .page-template-gallery-single #main.expanded h1 {
	color: #110974;
}

.page-template-mavericks-on-tour #main.expanded .content h1, .page-template-default h1 {
	color: #110974;
}

/*Body text change to blue from white*/
.wpcf7-response-output, .archive #main.expanded p, .single-post #main.expanded p, .page-template-join-our-team #main.expanded p, .page-template-book-a-booth-php #main.expanded p {
    color: #110974;
}
.sidebar a {
    color: #110974;
}
.page-template-mavericks-on-tour #main.expanded .content p, .page-template-default p {
    color: #110974;
}

/*sidebars should be grey 2*/
.sidebar {
    background-color: #e8e8e8;
}

/*Mavericks on tour boxes grey border background not dark blue*/
.page-template-mavericks-on-tour #main.expanded .items {
	background: none;
	/*
	background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
	*/
}
.page-template-mavericks-on-tour #main.expanded .item:nth-child(4) {
	background-color: rgb(6, 17, 35);
}
.page-template-mavericks-on-tour #main.expanded .item {
    border: 2px solid #f2f2f2;
    /*background-image: url('images/wood-bg.gif');*/
}

/*different pink on buttons*/
.page-template-mavericks-on-tour #main.expanded .item> div a.button {
    background-color: #fe4ab7;
    border-color: #fe4ab7;
}

/*Drinks Menu text from white to dark blue*/
.page-template-menu #main.expanded h1, .page-template-drinks #main.expanded h1 {
	color: #110974;
}
.page-template-menu #main.expanded h3, .page-template-drinks #main.expanded h3 {
    color: #110974;
}
.page-template-menu #main.expanded p, .page-template-drinks #main.expanded p {
    color: #110974;
}

/*Form button to hot pink*/
form .button {
    background-color: #fe4ab7;
}

/*Homepage mavericks tv box background to fill column*/
#main.expanded .mavericks-tv {
    padding: 0px 0px 40px 0px;
    background-color: rgb(6, 17, 35);
    margin-bottom: 20px;
}
/*venues box on homepage should be grey like background*/
#main.expanded .venues .one.row {
	background: none;
	/*background-color: #f2f2f2;
	background-image: url('images/wood-bg.gif');
	*/
}
#main.expanded .venues .two.row .columns {
    border: 2px solid #f2f2f2;
    background-image: url('images/wood-bg.gif');
}
/*homepage venues title blue*/
#main.expanded .venues .one.row .title h3 {
	color: #110974;
}

/*Header Strip cyan*/
#header.expanded .one.expanded {
	    background-color: #2aa6ca;
}
/*header links white*/
#header.expanded .one.expanded a {
	color: #fff;
}

/*Slider on homepage shouldn't have padding at bottom also change height*/
#slider.expanded {
	padding-bottom: 0;
	height: 500px;
}

.page-template-venue #main .venue {
    margin: 20px auto 20px auto;
}

