/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'bold-condensed-italic';
	src: url('bold-condensed-italic.eot');
	src: local('☺'), url('bold-condensed-italic.woff') format('woff'), url('bold-condensed-italic.ttf') format('truetype'), url('bold-condensed-italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
