/*
  // Project: Mavericks 80's Lounge
  // Designer: Para Ltd
  // Design Copyright: Para Ltd
  // Developer: Adam Wadsworth
  // Development Copyright: Adam Wadsworth
*/

@font-face {
	font-family: 'condensed';
	src: url('condensed.eot');
	src: local('☺'), url('condensed.woff') format('woff'), url('condensed.ttf') format('truetype'), url('condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
